[Desktop Entry]
Type=Application
Name=Install DarkOs
Comment=Installer for DarkOs
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;Utility;System
Exec=env pkexec calamares -style breeze
Icon=darkos-calamares
