[Desktop Entry]
Type=Application
Name=Install DarkOs In Debugging Mode
Comment=Installer For DarkOs
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;Utility;System
Exec=sudo -E calamares -d
Icon=darkos-calamares
